*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(#360033,#0b8793);
    width: 100%;
    min-height: 100vh;
    padding-top: 8%;
    padding-left: 10%;
    color: #fff;
}

.container h1{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.container h2{
    font-size: 30px;
    font-weight: 500;
    margin-top: 3%;
}

.container img{
    width: 40px;
}

.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#948E99,#2E1437);
    color: #fff;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
}

.container button img{
    width: 30px;
    margin-right: 8px;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    background: #fff;
    min-height: 150px;
    color: #000000;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    outline: none;
}

.input-box img{
    width: 20px;
    bottom: 15px;
    right: 15px;
    position: absolute;
    cursor: pointer;
}